node-linker=hoisted

public-hoist-pattern[]="react"
public-hoist-pattern[]="react-native"
public-hoist-pattern[]="expo"
public-hoist-pattern[]="@tamagui/*"
public-hoist-pattern[]="@babel/*"
public-hoist-pattern[]="*types*"

# Ensure consistent resolution
strict-peer-dependencies=false
auto-install-peers=true